<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--
    
    <h1>Welcome, {{ name }}!</h1>

    <h2>List of Items:</h2>
    <ul>
        {% for item in data_list %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

    {% if name == "Guest User" %}
        <p>Please log in for personalized features.</p>
    {% endif %}
    
    -->
    
    <div class="container">
        <label for="website-link">Website Link</label>
        <input type="link" placeholder="Enter a website link" />
        <div class="colors"></div>
        <img />
    </div>
    
</body>
</html>
